@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.movieCard {
    height: 500px;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}
.movieCard img {
    height: 100%;
    object-fit: cover;
}
.movieCard figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #343a40;
}

.movieCard .overview {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    bottom: -800%;
    color: #000;
    transition: all .2s ease-in-out;
    padding: 20px;
}
.movieCard:hover .overview{
    bottom: 0;
}
